name: ReaPack Index

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  index:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install reapack-index
        run: |
          sudo gem install reapack-index

      - name: Build index
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@github.com"
          reapack-index --name "Frank Acklin Scripts" --commit --scan . --output index.xml

      - name: Push changes
        run: |
          git push
